<div class="container-fluid">
  <div class="row align-items-start">
    <!-- サイドバー用のプロフィール -->
    <div class="col-lg-3 col-md-4 sticky-top">
      <%= render 'layouts/sidebar', user: @user %>
    </div>

    <!-- 投稿内容 -->
    <div class="col-lg-9 col-md-8">
      <% @posts.each do |post| %>
        <%= render 'user/posts/post_card', post: post %>
      <% end %>
    </div>
  </div>
</div>