<!-- 投稿内容 -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <% if @favorites_posts.present? %>
        <% @favorites_posts.each do |post| %>
          <%= render 'user/posts/post_card', post: post %>
        <% end %>
        <%= paginate @favorites_posts %>
      <% end %>
    </div>
  </div>
</div>