<div class="container-fluid">
  <div class="row align-items-start">

    <!-- 検索フォーム部分テンプレートの呼び出し -->
    <%= render 'user/posts/search_form' %>

    <!-- サイドバー用のプロフィール -->
    <div class="col-lg-3 col-md-4 sticky-top">
      <%= render 'layouts/sidebar', user: @user %>
    </div>

    <!-- 投稿内容 -->
     <div class="col-lg-9 col-md-8">
      <% @posts.each do |post| %>
　　　　<%= render 'user/posts/post_card', post: post %>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>