/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
 background: rgba( 255, 255, 255, 0.47 );
 box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
 backdrop-filter: blur( 2px );
 -webkit-backdrop-filter: blur( 2px );
}

 /*青と緑のグラデーション*/
body {
 /*height: 200px;*/
 /*width: 100%;*/
 background-image: linear-gradient(32deg, rgba(144, 245, 154, 0.7), rgba(4, 202, 255, 0.7) 100%),image-url("test_img.jpg");
}

/*赤と黄色のグラデーション*/
/*body {*/
/*  background-image: linear-gradient(196deg, rgba(247, 93, 139, 1), rgba(254, 220, 64, 1));*/
/*}*/

footer {
 background: rgba( 208, 2, 27, 0.35 );
 box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
 backdrop-filter: blur( 1px );
 -webkit-backdrop-filter: blur( 1px );
}

.post-card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.top {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: transparent;
  background-image: linear-gradient(135deg, #fc00ff, #00dbde);
  -webkit-background-clip: text;
}